<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Server Error Occurred</h1>
    <p>Please try again later.</p>

<%- include('includes/end.ejs') %>